@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon/icomoon.eot?75w6df');
  src:  url('../../fonts/icomoon/icomoon.eot?75w6df#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon/icomoon.ttf?75w6df') format('truetype'),
    url('../../fonts/icomoon/icomoon.woff?75w6df') format('woff'),
    url('../../fonts/icomoon/icomoon.svg?75w6df#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e903";
}
.icon-phone-call:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e900";
}
.icon-vk-reproductor:before {
  content: "\e901";
}
.icon-youtube:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-user:before {
  content: "\e971";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-ctrl:before {
  content: "\ea50";
}
