#page_wrapper {
	background-color: #f1f1f1;
}
#page_wrapper__container {
	min-height: 100vh;
}

.form-control.selectpicker {
	.bootstrap-select .btn-light {
		padding: 0px;
	}
}
.bootstrap-select.form-control {
	background: none;
	height: unset;
}
.title-line {
	width: 100%;
	margin-bottom: 20px;
	display: block;
	border: 0;
	border-color: #aaaaaa;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

hr {
	border-top: 1px solid #cccccc;
}

h1, h2, h3, h4, h5, h6, p, ul li {
	color: #333;
}
h1 {
	font-size: 36px;
	line-height: 44px;
}
h2 {
	font-size: 28px;
	line-height: 34px;
}
h3 {
	font-size: 22px;
	line-height: 28px;
}
h4 {
	font-size: 18px;
	line-height: 24px;
}
p {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 15px;
}
ul {
	padding-left: 20px;
	li {
		list-style: disc;
	}
}
ol {
	padding-left: 20px;
}

.font-size-16 {
	font-size: 16px!important;
	line-height: 24px!important;
}
.font-size-28 {
	font-size: 28px!important;
	line-height: 36px!important;
}
.h-m-100vh {
	min-height: 100vh;
}
.link-back {
	font-size: 16px;
	line-height: 22px;
	color: #333;
	&:hover {
		text-decoration: none;
		color: #333;
	}
}
