input{
	&.form-control {
		padding: 10px 15px;
		background-color: white;
		color: #333333;
		border: 1px solid #d9d9d9;
		border-radius: 4px!important;
		padding: 11px 15px;
		font-size: 16px;
		height: unset!important;
		line-height: 20px!important;
	}
}

.checkbox {
	label {
		cursor: pointer;
		font-size: 16px;
		line-height: 22px;
		color: #333;
	}
}
.checkbox label:after {
	content: '';
	display: table;
	clear: both;
}

.checkbox .cr {
	position: relative;
	display: inline-block;
	border: 1px solid #d9d9d9;
	background: #fff;
	border-radius: 4px;
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 15px;
	transition: 0.5s;
}

.checkbox .cr .cr-icon {
	position: absolute;
	top: 50%;
	transform: translate(0px, -50%);
	left: 15%;
}
.form-group_320 {
	width: 100%;
	max-width: 320px;
}
.checkbox label input[type="checkbox"] {
	display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
	opacity: 0;
}
.checkbox label input[type="checkbox"]:checked+.cr {
	box-shadow: 0 0 0 10px #333333 inset;
	transition: 0.5s;
}
.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
	opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
	opacity: .5;
}
