.btn {
	border: 1px solid #333;
	border-radius: 100px;
	background: none;
	padding: 10px 15px;

	transition: 0.5s;

	font-size: 24px;
	line-height: 32px;
	color: #333;
	letter-spacing: 1px;
	background-color: transparent;
	&.btn__add-cart {
		background: #333;
		color: #fff;
		.icon-lock {
			font-size: 24px;
			color: #fff;
			line-height: 28px;
			margin-right: 10px;
			transition: 0.5s;
		}
		&.btn__add-cart_no-hover {
			font-size: 18px;
			line-height: 24px;
			&:hover {
				background: #333;
				color: #fff;
			}
		}
		&:hover {
			background: none;
			color: #333;
			.icon-lock {
				color: #333;
				transition: 0.5s;
			}
		}
	}
	&.btn-cart {
		border-radius: 6px;
		background: #c8c8c8;
		border: 0px;
		padding: 10px 15px;

		font-size: 16px;
		line-height: 22px;
		color: #333;

	}
	&:hover {
		background-color: #333;
		color: #fff;
		transition: 0.5s;
	}
}


#scroll {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	z-index: 9;
	background-color: #333;

	font-size: 24px;
	color: #fff;
	transition: 0.5s;
	&:hover {
		background-color: $colorMain;
	}
}
