.breadcrumb {
	background: none;
	padding: 0px;
	margin: 0px;
	.breadcrumb-item {
		font-size: 18px;
		line-height: 24px;
		color: #333;
		a {
			font-size: inherit;
			line-height: inherit;
			color: inherit;
			transition: 0.5s;
			&:hover {
				color: $colorMain;
				text-decoration: none;
				transition: 0.5s;
			}
		}
	}
}
