<!-- Footer Section Start -->
<footer class="footer-page">
	<div class="container">
		div(class="row")
			div(class="col-12 col-lg-3 pb-3 pb-lg-0 d-flex justify-content-center justify-content-lg-start")
				a(class="logo")
					img(class="lazyload img-fluid" data-src="images/logo.png" alt="img")
			div(class="col-12 col-lg-3 pb-3 pb-lg-0 d-none d-lg-block")
				span(class="footer-title")
					| Каталог
				ul(class="footer-ul")
					-for(let i =0; i < 4; i++)
						li
							a(href="#")
								| Каталог 1
			div(class="col-12 col-lg-2 pb-3 pb-lg-0 d-none d-lg-block")
				span(class="footer-title")
					| Бренд
				ul(class="footer-ul")
					-for(let i =0; i < 4; i++)
						li
							a(href="#")
								| Бренд 1
			div(class="col-12 col-lg-2 pb-3 pb-lg-0 d-none d-lg-block")
				span(class="footer-title")
					| Магазин
				ul(class="footer-ul")
					-for(let i =0; i < 4; i++)
						li
							a(href="#")
								| Магазин 1
			div(class="col-12 col-lg-2 pb-3 pb-lg-0")
				span(class="footer-title")
					| Навигация
				ul(class="footer-ul")
					li
						a(href="#")
							| Главная
					li
						a(href="#")
							| О нас
					li
						a(href="#")
							| Контакты
		div(class="row justify-content-end")
			div(class="col-12 col-lg-2 ")
				div(class="social-block")
					a(href="#" class="social-block__item")
						span(class="icon-instagram")
					a(href="#" class="social-block__item")
						span(class="icon-vk-reproductor")
					a(href="#" class="social-block__item")
						span(class="icon-youtube")
		hr()
		div(class="row")
			div(class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start")
				a(class="copyright" href="#")
					| © 2020 политика конфиденциальности
			div(class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end")
				a(class="copyright" href="#")
					| deksis.ru | разработка и поддержка сайта
	</div>
</footer>
<!-- Footer Section End -->
