<!-- Header Section Start -->
<header class="nav-split-simple nav-on-top fixed-bg-white">
	<div class="top-header sm-mx-none shadow-sm position-relative z-index-9">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6">
					<div class="top-profile left">
						div(class="social-block")
							a(href="#" class="social-block__item")
								span(class="icon-instagram")
							a(href="#" class="social-block__item")
								span(class="icon-vk-reproductor")
							a(href="#" class="social-block__item")
								span(class="icon-youtube")
					</div>
				</div>
				<div class="col-lg-6">
					<div class="top-profile d-flex align-items-center justify-content-end">
						<form action="#" class="mr-2">
							<ul class="d-flex m-0">
								<li>
									<select name="language" class="form-control selectpicker">
										<option>En</option>
										<option>Ru</option>
									</select>
								</li>
							</ul>
						</form>
						<ul class="d-flex justify-content-end align-items-center m-0">
							<li class="mr-2">
								<a href="#" class="log-user">
									span(class="icon-user")
								</a>
							</li>
							<li id="cart-desktop">
								<a class="mini-cart btn-cart" href="#">
									span(class="icon-cart")
									<span class="mini-cart__count">0</span>
								</a>
								<div class="dropdown-menu-mini-cart pt-2">
									<ul class="shopping-cart-items px-2">
										li
											ul(class="shopping-cart-items-hid")
												-for(let i =0; i < 10; i++)
													<li>
														<div class="d-flex align-items-start">
															<div class="item-thumb">
																<a href="#" class="image">
																	<img class="w-100 img-fluid lazyload" data-src="images/slider-single.png" alt="Product Image">
																</a>
															</div>
															<div class="item-detail">
																<a href="#">Modern Single Sofa</a>
																<div class="item-s">
																	<span>135 ₽</span>
																</div>
																form(class="product-quantity pro-details-quality mb-3" action="" method="")
																	div(class="cart-plus-minus")
																		input(class="cart-plus-minus-box" type="number" name="qtybutton" value="1")
															</div>
															
															<a href="#" class="item-detail__delete">
																span()
																	b
																		| +
															</a>
														</div>
													</li>
										<li class="pt-2">
											hr
											<span class="item-summary font-size-16 d-flex justify-content-between px-3">Цена:<span><b> 270 ₽</b></span></span>
										</li>
										<li class="py-3 d-flex flex-column justify-content-center align-items-center">
											<a class="btn mb-2" href="#">Корзина</a>
											<a class="btn " href="#">Оформить</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-nav py-lg-4">
		<div class="container">
			<div class="row">
				<div class="col">
					<nav class="navbar navbar-expand-lg nav-line-active nav-dark nav-primary-hover">
						<a class="navbar-brand order-2 m-0" href="#">
						picture
							source(srcset="images/logo-mobile.png" media="(max-width: 991px)")
							img(class="nav-logo lazyload" data-src="images/logo.png" alt="img logo")
						</a>
						<button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="burger"></span>
						</button>
						div(class="d-block d-lg-none order-3")
							<div class="top-profile d-flex align-items-center justify-content-end">
								<form action="#" class="mr-2">
									<ul class="d-flex m-0">
										<li>
											<select name="language" class="form-control selectpicker">
												<option>En</option>
												<option>Ru</option>
											</select>
										</li>
									</ul>
								</form>
								<ul class="d-flex justify-content-end align-items-center m-0">
									<li>
										<a href="#" class="mini-cart top-quantity text-dark">
											span(class="icon-cart")
											<span class="mini-cart__count">0</span>
										</a>
									</li>
								</ul>
							</div>
						<div class="collapse navbar-collapse order-4" id="navbarSupportedContent">
							ul(class="navbar-nav w-100")
								li(class="nav-item dropdown")
									<a class="nav-link dropdown-toggle" href="#">Каталог</a>
									ul(class="dropdown-menu")
										-for(let i = 0; i < 3; i++)
											li
												a(class="dropdown-item" href="#")
													| Каталог 1
									li(class="nav-item dropdown")
										<a class="nav-link dropdown-toggle" href="#">Бренд</a>
										ul(class="dropdown-menu")
											-for(let i = 0; i < 6; i++)
												li
													a(class="dropdown-item" href="#")
														| Бренд 1
									li(class="nav-item dropdown")
										<a class="nav-link dropdown-toggle" href="#">Магазин</a>
										ul(class="dropdown-menu")
											-for(let i = 0; i < 6; i++)
												li(class="dropdown")
													a(class="dropdown-item dropdown-toggle" href="#")
														| Магазин 1
													ul(class="dropdown-menu")
														-for(let i = 0; i < 6; i++)
															li
																a(class="dropdown-item" href="#")
																	| Магазин 2
								each item in ["О нас", "Контакты"]
									li(class="nav-item")
										a(class="nav-link" href="#")
											= item
								li(id="cart-scroll")
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Header Section End -->
