.footer-page {
	padding: 20px 0;
	border-top: solid 1px #cccccc;
	background-color: #ffffff;

	.footer-title {
		display: block;
		margin-bottom: 12px;

		font-weight: normal;
		font-size: 24px;
		line-height: 32px;
	}

	.footer-ul {
		padding: 0px;
		margin: 0px;
		li {
			margin-bottom: 6px;
			a {
				font-size: 16px;
				line-height: 24px;
				color: #4e4e4e;
				transition: 0.5s;
				&:hover {
					color: $colorMain;
					text-decoration: none;
				}
			}
			&:last-child {
				margin: 0px;
			}
		}
	}
	.logo {
		@media (max-width: 991px) {
			img {
				width: 200px;
			}
		}
	}
	ul, ol{
		padding: 0px;
		li {
			list-style: none;
		}
	}
}

.copyright {
	font-size: 16px;
	line-height: 24px;
	color: #4e4e4e;
	transition: 0.5s;
	&:hover {
		color: $colorMain;
		text-decoration: none;
	}
}
