/*==================================
Theme Color All Codes Variable
==================================*/

:root {
    --theme-general-color: #7b7c7e;
    /* theme general color used*/
}

:root {
    --theme-primary-color: #d6b07a;
    /* theme primary color used*/
}

:root {
    --theme-secondary-color: #353650;
    /* theme secondary color used*/
}

:root {
    --theme-white-color: #ffffff;
    /* theme white font color used*/
}

:root {
    --theme-light-color: #fcf9f8;
    /* theme light gray color used*/
}

:root {
    --theme-text-gray: #d8d8d8;
    /* theme text gray color used*/
}

:root {
    --theme-dark-color: #181b1e;
    /* theme dark color ok uded*/
}

:root {
    --theme-footer-color: #2d2d3c;
    /* theme dark color used*/
}

:root {
    --theme-primary-opacity-color: rgba(214, 176, 122, .7);
    /* theme secondary color used*/
}

:root {
	--theme-dark-opacity-color: rgba(24, 27, 30, .7);
	/* theme dark color used*/
}

:root {
    --theme-secondary-opacity-color: rgba(53, 54, 80, .7);
    /* theme secondary color used*/
}

:root {
    --theme-extra1-opacity-color: rgba(34, 144, 135, .7);
    /* theme secondary color used*/
}

:root {
    --theme-extra2-opacity-color: rgba(29, 45, 58, .7);
    /* theme secondary color used*/
}


/*==================================
Font Variable
==================================*/

:root {
    --theme-general-font: sans-serif;
    /* Font use for normal text and general text used*/
}

:root {
    --theme-highlight-font: sans-serif;
    /* Font used in title or special area used*/
}

:root {
    --theme-hiperlink-font: sans-serif;
    /* Font use for normal text and link text */
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: var(--theme-highlight-font);
    color: var(--theme-secondary-color);
    font-weight: 600;
}

h1,
.h1 {
	font-size: 48px;
}

h2,
.h2 {
    font-size: 40px;
}

h3,
.h3 {
    font-size: 36px;
}

h4,
.h4 {
    font-size: 30px;
}

h5,
.h5 {
    font-size: 24px;
}

h6,
.h6 {
    font-size: 21px;
}

.navbar-expand-lg .navbar-nav .nav-link {
	text-transform: uppercase
}
.dropdown-item {
    font-size: 14px;
	font-weight: 400
}
.navbar-expand-lg .navbar-nav .nav-item:last-child {
	margin-right: 0
}
