doctype html
html(lang="ru")
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")

		link(rel="icon" type="image/png" href="images/favicon.png")
		link(rel="apple-touch-icon" type="image/png" href="images/favicon-apple-touch.png")
		title Часы
	body
		div(id="page_wrapper")
			include components/header-area.pug
			div(id="page_wrapper__container")
				block content
			include components/modal-area.pug
			include components/footer-area.pug
			include components/btn-to-top-area.pug
		script(src="js/main.min.js")
