extends base.pug
block content
	div(class="container py-5")
		div(class="row")
			div(class="col-12")
				h1()
					| Корзина
				hr
			div(class="col-12 col-lg-8")
				-for(let i =0; i < 4; i++)
					div(class="cart-product")
						div(class="row")
							div(class="col-12 col-lg-3 d-flex justify-content-center order-2 order-lg-1")
								a(href="#" class="d-block")
									img(class="images-fluid lazyload" data-src="images/slider-single.png" alt="img")
							div(class="col-12 col-lg-7 order-3 order-lg-2")
								a(href="#" class="title")
									| Название товара Название товара Название товара Название товара Название товара
								div(class="mb-4")
									span(class="price d-flex flex-column p-0")
										span(class="now")
											| 80.00 ₽
								form(class="product-quantity pro-details-quality mb-3" action="" method="")
									div(class="cart-plus-minus")
										input(class="cart-plus-minus-box" type="number" name="qtybutton" value="1")
								div()
									h3
										b
											| Цена:
									span(class="price d-flex flex-column p-0")
										span(class="now")
											| 80.00 ₽
							div(class="col-12 col-lg-2 order-1 order-lg-3")
								form(action="" method="" class="cart-product-remove")
									button(type="submit")
										| Удалить
										span
											| +
						hr
			div(class="col-12 col-lg-4")
				form(class="pt-4" action="" method="")
					div(class="pb-4")
						span(class="d-block font-size-16")
							b
								| Цена:	
						span(class="price d-flex flex-column p-0")
							span(class="now")
								| 80.00 ₽
					button(class="btn btn-cart w-100" type="submit")
						span(class="icon-lock")
						| Оформить
				
