extends base.pug
block content
	div(class="mb-5")
		img(class="lazyload w-100" data-src="images/Colord_02536c53-b131-41d5-92ff-66029d326fcb_1800x.png" alt="img")
	div(class="container")
		div(class="row")
			div(class="col-12")
				h1(class="text-center mb-4")
					| REDENTORE COLLECTION
				hr
				p(class="text-center")
					| Redentore is inspired by the masterpiece of the famous Venetian architect Andrea Palladio (1508-1580), father of the Neoclassical style.
		div(class="row pb-4")
			div(class="col-12 col-lg-6 d-flex justify-content-center mb-3 mb-lg-0")
				img(class="lazyload img-fluid" data-src="images/Movimento_01_copia_600x.png" alt="img")
			div(class="col-12 col-lg-5 offset-lg-1 d-flex justify-content-center flex-column")
				h2
					| AUTOMATIC CAL. MV145
				p
					| The caliber MV145 is a mechanical movement with automatic winding, 24 Jewels, 21.600 bph, and a power reserve of 41 hours. The MV145 movement, developed from a Seiko NH35 base, is a caliber of unquestionable reliability, it has many other functions such as bi-directional winding and hacking seconds.
		div(class="row pb-4")
			div(class="col-12")
				h2(class="text-center")
					| Discover Redentore
				hr
		div(class="row pb-4")
			-for(let i = 0; i < 10; i++)
				div(class="col-6 col-lg-4 pb-5")
					div(class="category-item")
						a(href="#" class="d-flex flex-column flex-lg-row justify-content-lg-center")
							img(class="lazyload img-fluid" data-src="images/slider-single.png" alt="img")
							span(class="category-item-hid")
								span(class="title")
									b
										| Заголовок товара
								span(class="price d-flex flex-column align-items-center p-0")
									span(class="now")
										| 80.00 ₽
									span(class="old")
										| 80.00 ₽
	div(class="mb-5")
		img(class="lazyload w-100" data-src="images/50012193802_9d15384c7f_o_2_1800x 1.png" alt="img")
