extends base.pug
block content
	div(class="row no-gutters ")
		div(class="col-12 col-lg-7 order-2 order-1")
			div(class="checkouts-left px-3 pb-5 pb-lg-0 pr-lg-5 pl-lg-4 d-flex justify-content-end ")
				div(class="checkouts-wrapper pt-5 h-m-100vh")
					h1(class="mb-2")
						| Оформление заказа
					<nav class="mb-4" aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Корзина</a></li>
							<li class="breadcrumb-item active" aria-current="page">Оформление заказа</li>
						</ol>
					</nav>
					form(action="" method="")
						div(class="form-group mb-5")
							label(for="exampleFormControlSelect1" class="d-block mb-3")
								| E-mail
							input(type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com")
						span(class="font-size-18 mb-3 d-block")
							| Адрес
						div(class="form-row")
							div(class="col")
								div(class="form-group")
									input(class="form-control" type="text" placeholder="Имя")
							div(class="col")
								div(class="form-group")
									input(class="form-control" type="text" placeholder="Фамилия")
						div(class="form-group")
							input(class="form-control" type="text" placeholder="Город")
						div(class="form-group")
							input(class="form-control" type="text" placeholder="Область")
						div(class="form-group")
							input(class="form-control" type="text" placeholder="Улица")
						div(class="form-row")
							div(class="col")
								div(class="form-group")
									input(class="form-control" type="text" placeholder="Дом")
							div(class="col")
								div(class="form-group")
									input(class="form-control" type="text" placeholder="Квартира")
						div(class="form-group")
							input(class="form-control" type="tel" placeholder="Телефон")
						<div class="checkbox">
							<label>
								<input type="checkbox" value="" checked>
								<span class="cr">
									<svg class="cr-icon" xmlns="http://www.w3.org/2000/svg" width="10.3" height="8" viewBox="8.9 0.3 10.3 8" enable-background="new 8.9 0.3 10.3 8">
										<path fill="#fff" d="M12.6 8.1l-3.7-3.8 1-1.1 2.7 2.7 5.5-5.4 1 1z"/>
									</svg>
								</span>
								| Сохранить для следующего заказа
							</label>
						</div>
						div(class="d-flex justify-content-between align-items-center")
							a(href="#" class="d-flex align-items-center link-back")
								span(class="icon-ctrl icon-ctrl_left")
								span
									| Вернуться в корзину
							button(type="submit" class="btn btn-cart")
								| Оплатить
		div(class="col-12 col-lg-5 order-1 order-lg-2 pb-5 pb-lg-0")
			div(class="checkouts-right px-3 pr-lg-4  pl-lg-4 d-flex justify-content-start")
				div(class="checkouts-wrapper pt-5")
					div(class="checkouts-product mb-4")
						div(class="row align-items-center")
							div(class="col-4 col-lg-3")
								div(class="preview")
									img(class="lazyload w-100" data-src="images/slider-single.png" alt="img")
									span(class="preview-count-hid")
										| 2
							div(class="col-4 col-lg-6")
								span(class="title")
									b
										| Название товара
							div(class="col-4 col-lg-3")
								<span class="price d-flex flex-column p-0">
									<span class="now font-size-16">8000.00 ₽</span>
								</span>
					div(class="checkouts-product")
						div(class="row align-items-center")
							div(class="col-4 col-lg-3")
								div(class="preview")
									img(class="lazyload w-100" data-src="images/slider-single.png" alt="img")
									span(class="preview-count-hid")
										| 2
							div(class="col-4 col-lg-6")
								span(class="title")
									b
										| Название товара
							div(class="col-4 col-lg-3")
								<span class="price d-flex flex-column p-0">
									<span class="now font-size-16">8000.00 ₽</span>
								</span>
					hr
					form(action="" method="" class="d-flex align-items-center")
						div(class="form-group form-group_320 m-0")
							input(class="form-control m-0 w-100" type="text" placeholder="Код")
						button(class="btn btn-cart ml-2")
							| Применить
					hr
					table(class="w-100")
						tbody
							tr
								td(class="font-size-16")
									| Subtotal
								td(class="text-right font-size-16")
									b
										| 8000.00 ₽
					hr
					table(class="w-100")
						tbody
							tr
								td(class="font-size-16")
									| Total
								td(class="text-right")
									b
										| 8000.00 ₽
