extends base.pug
block content
	div(class="mb-5")
		img(class="lazyload w-100" data-src="images/redentore-components_049bcbb0-df0f-4727-be44-a93129f8dab5_1400x.png" alt="img")
	div(class="container")
		div(class="row pb-5")
			div(class="col-12")
				h2()
					| Конакты
				hr
			div(class="col-12 col-lg-6 pb-5 pb-lg-0")
				div(class="contacts-email d-flex align-items-center mb-4")
					span(class="icon-earth font-size-28 mr-2")
					span
						| Адрес
				a(href="tel:+7964640254" class="contacts-link d-flex align-items-center mb-4")
					span(class="icon-phone-call font-size-28 mr-2")
					span
						| +7 (964) 64-02-54
				a(href="mailto:" class="contacts-link d-flex align-items-center")
					span(class="icon-email font-size-28 mr-2")
					span
						| info@mail.ru
			div(class="col-12 col-lg-6")
				form(action="" method="" class="pb-5")
					div(class="form-row")
						div(class="col")
							div(class="form-group")
								input(class="form-control" type="text" placeholder="Имя")
						div(class="col")
							div(class="form-group")
								input(class="form-control" type="text" placeholder="E-mail")
					div(class="form-group")
						textarea(class="form-control" placeholder="Сообщение")
					div()
						button(type="submit" class="btn btn__add-cart btn__add-cart_no-hover")
							| Отправить
		div(class="row")
			div(class="col-12 pb-5")
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d18234.184851477923!2d61.420827300000006!3d55.160997849999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1604483830634!5m2!1sru!2sru" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
