extends base.pug
block content
	<!-- Slider HTML markup -->
	div(class="full-row p-0 overflow-hidden")
		div(id="slider-owl" class="owl-carousel owl-theme")
			div(class="item" style="background-image: url('images/slider1.png');")
			div(class="item" style="background-image: url('images/slider2.png');")
			div(class="item" style="background-image: url('images/slider1.png');")
	<!--Slider Section End-->
	div(class="brands-block py-4")
		div(class="container")
			div(class="row")
				div(class="col-6 col-lg-3 pb-3 pb-lg-0")
					img(class="mx-auto img-fluid lazyload"  data-src="images/brands1.png" alt="img")
				div(class="col-6 col-lg-3 pb-3 pb-lg-0")
					img(class="mx-auto img-fluid lazyload"  data-src="images/brands2.png" alt="img")
				div(class="col-6 col-lg-3 pb-3 pb-lg-0")
					img(class="mx-auto img-fluid lazyload"  data-src="images/brands3.png" alt="img")
				div(class="col-6 col-lg-3 pb-3 pb-lg-0")
					img(class="mx-auto img-fluid lazyload"  data-src="images/brands4.png" alt="img")
	div(class="mb-5")
		a(href="#" class="d-block")
			img(class="lazyload w-100" data-src="images/Movements_49377a98-fcf3-41bc-8cdf-02541efafcf9_1600x.png" alt="img")
	<!-- Fashion Design Section Start -->
	<div class="full-block-item mb-5">
		<div class="container-fluid">
			<div class="row no-gutters pb-3 pb-lg-0">
				<div class="col-lg-6">
					a(class="d-block" href="#")
						<img class="lazyload w-100" data-src="images/block-1024-1024.png" alt="img">
				</div>
				<div class="col-lg-6 d-flex align-items-center">
					<div class="wrapper">
						a(href="#" class="title mb-4")
							| PURELY MECHANICAL
						<p class="description mb-4">Auctor condimentum magna donec tellus rutrum curabitur imperdiet montes. Porttitor Sollicitudin scelerisque arcu elementum consectetuer commodo tempor ut. Class Pharetra molestie habitasse non augue risus non. Bibendum massa, ligula justo etiam, pretium luctus mollis.</p>
						<a href="#" class="btn">Booking Now</a>
					</div>
				</div>
			</div>
			<div class="row no-gutters pb-3 pb-lg-0">
				<div class="col-lg-6 order-1 order-lg-2">
					a(class="d-block" href="#")
						<img class="lazyload w-100" data-src="images/block-1024-1024-2.png" alt="img">
				</div>
				<div class="col-lg-6 d-flex align-items-center order-2 order-lg-1">
					<div class="wrapper">
						a(href="#" class="title mb-4")
							| PURELY MECHANICAL
						<p class="description mb-4">Auctor condimentum magna donec tellus rutrum curabitur imperdiet montes. Porttitor Sollicitudin scelerisque arcu elementum consectetuer commodo tempor ut. Class Pharetra molestie habitasse non augue risus non. Bibendum massa, ligula justo etiam, pretium luctus mollis.</p>
						<a href="#" class="btn">Booking Now</a>
					</div>
				</div>
			</div>
			<div class="row no-gutters pb-3 pb-lg-0">
				<div class="col-lg-6">
					a(class="d-block" href="#")
						<img class="lazyload w-100" data-src="images/block-1024-1024-3.png" alt="img">
				</div>
				<div class="col-lg-6 d-flex align-items-center">
					<div class="wrapper">
						a(href="#" class="title mb-4")
							| PURELY MECHANICAL
						<p class="description mb-4">Auctor condimentum magna donec tellus rutrum curabitur imperdiet montes. Porttitor Sollicitudin scelerisque arcu elementum consectetuer commodo tempor ut. Class Pharetra molestie habitasse non augue risus non. Bibendum massa, ligula justo etiam, pretium luctus mollis.</p>
						<a href="#" class="btn">Booking Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Fashion Design Section End -->
	div(class="mb-5")
		a(href="#" class="d-block")
			img(class="lazyload w-100" data-src="images/customize-your-watch_1600x.png" alt="img")
	div(class="container mb-5")
		div(class="row")
			div(class="col-12")
				h2(class="text-center mb-4")
					| Последние новости
				span(class="title-line")
			div(class="col-12 col-md-6 pb-3 pb-lg-0")
				div(class="last-news")
					a(href="#" class="d-block mb-3 preview")
						img(class="lazyload" data-src="images/last-news.png" alt="img")
					a(href="#" class="title")
						| Meccaniche Veneziane against Covid-19, our initiative for Bergamo Hospital
					span(class="time")
						| 2 мин. на чтение
			div(class="col-12 col-md-6")
				div(class="last-news")
					a(href="#" class="d-block mb-3 preview")
						img(class="lazyload" data-src="images/last-news.png" alt="img")
					a(href="#" class="title")
						| Meccaniche Veneziane against Covid-19, our initiative for Bergamo Hospital
					span(class="time")
						| 2 мин. на чтение
	
