extends base.pug
block content
	<div class="full-row product-single">
		<div class="container">
			<div class="row">
				div(class="col-12 col-lg-6")
					div(id="product-single-slider")
						div()
							img(class="" src="images/slider-single.png" alt="img")
						div()
							img(class="" src="images/slider-single.png" alt="img")
						div()
							img(class="" src="images/slider-single.png" alt="img")
						div()
							img(class="" src="images/slider-single.png" alt="img")
						div()
							img(class="" src="images/slider-single.png" alt="img")
					div(id="product-single-slider-nav")
						div()
							img(class="" src="images/slider-single-nav.png" alt="img")
						div()
							img(class="" src="images/slider-single-nav.png" alt="img")
						div()
							img(class="" src="images/slider-single-nav.png" alt="img")
						div()
							img(class="" src="images/slider-single-nav.png" alt="img")
						div()
							img(class="" src="images/slider-single-nav.png" alt="img")
				div(class="col-12 col-lg-6")
					h1(class="product_title")
						| Wireless S50 Headphones S50 with Bluetooth
					<hr>
					<span class="price d-flex flex-column">
						<span class="now">
							| 80.00 ₽
						</span>
						<span class="old">
							| 100.00 ₽
						</span>
					</span>
					button(class="btn btn__add-cart mb-4")
						| Добавить в корзину
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					table(class="settings")
						tbody
							tr
								td
									| Характеритики 1
								td
									| Значение 1
							tr
								td
									| Характеритики 1
								td
									| Значение 1
							tr
								td
									| Характеритики 1
								td
									| Значение 1
			</div>
		</div>
	</div>
	div(class="mb-5")
		img(class="lazyload w-100" data-src="images/redentore-components_049bcbb0-df0f-4727-be44-a93129f8dab5_1400x.png" alt="img")
	<div class="full-block-item mb-5">
		<div class="container-fluid">
			<div class="row no-gutters pb-3 pb-lg-0">
				<div class="col-lg-6">
					<img class="lazyload w-100" data-src="images/ddd_2_800x.png" alt="img">
				</div>
				<div class="col-lg-6 d-flex align-items-center">
					<div class="wrapper">
						a(href="#" class="title mb-4")
							| Timeless Shapes
						<p class="description mb-4">The Redentore case is characterized by its classic shapes and above all by the double finish. The deep satin and the polish finishes are obtained through the use of special brushes by skilled <b>craftsmen</b> who finish each individual surface through a completely manual process. <b>Several handmade steps</b> are required to achieve a homogeneous result that passes the internal quality control process.</p>
					</div>
				</div>
			</div>
			<div class="row no-gutters pb-3 pb-lg-0">
				<div class="col-lg-6 order-1 order-lg-2">
					a(class="d-block" href="#")
						<img class="lazyload w-100" data-src="images/Tavola_da_disegno_1_copia_5_5000x.png" alt="img">
				</div>
				<div class="col-lg-6 d-flex align-items-center order-2 order-lg-1">
					<div class="wrapper">
						a(href="#" class="title mb-4")
							| Our Milanese Bracelet
						<p class="description mb-4">The Milanese mesh bracelet is the perfect <b>combination of Italian</b> style and metalworking art. Every single steel mesh is handcrafted, cut, folded and then assembled to create a solid yet elegant spiral. A perfect fit on the wrist<b> is guaranteed, in fact</b>, this bracelet is equipped with a sliding clasp which offers an extremely comfortable</p>
						<a href="#" class="btn">more</a>
					</div>
				</div>
			</div>
			<div class="row no-gutters pb-3 pb-lg-0">
				<div class="col-lg-6">
					a(class="d-block" href="#")
						<img class="lazyload w-100" data-src="images/Tavola_da_disegno_1_copia_2_fcbf06d2-b4e5-4ed5-a7f1-8ce8417d096d_800x.png" alt="img">
				</div>
				<div class="col-lg-6 d-flex align-items-center">
					<div class="wrapper">
						a(href="#" class="title mb-4")
							| PURELY MECHANICAL
						<p class="description mb-4">Auctor condimentum magna donec tellus rutrum curabitur imperdiet montes. Porttitor Sollicitudin scelerisque arcu elementum consectetuer commodo tempor ut. Class Pharetra molestie habitasse non augue risus non. Bibendum massa, ligula justo etiam, pretium luctus mollis.</p>
						<a href="#" class="btn">more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	div(class="mb-5")
		img(class="lazyload w-100" data-src="images/Tavola_da_disegno_1_hbhb_1400x.png" alt="img")
