extends base.pug
block content
	div(class="container")
		div(class="row")
			div(class="col-12")
				h1
					| Заголовок 1
				p
					| Вы можете вполне успешно работать, не зная ни одного паттерна. Но зная паттерны, вы получаете ещё один инструмент в свой личный набор профессионала.
				h2
					| Заголовок 2
				ul
					li
						| строка ul li 1
					li
						| строка ul li 1
					li
						| строка ul li 1
				p
					| Вы можете вполне успешно работать, не зная ни одного паттерна. Но зная паттерны, вы получаете ещё один инструмент в свой личный набор профессионала.
				img(class="w-100 mb-4 lazyload" data-src="images/customize-your-watch_1600x.png" alt="img")
				h3
					| Заголовок 3
				ol
					li
						| строка ol li 1
					li
						| строка ol li 1
					li
						| строка ol li 1
				p
					| Вы можете вполне успешно работать, не зная ни одного паттерна. Но зная паттерны, вы получаете ещё один инструмент в свой личный набор профессионала.
				h4
					| Заголовок 4
				p
					| Вы можете вполне успешно работать, не зная ни одного паттерна. Но зная паттерны, вы получаете ещё один инструмент в свой личный набор профессионала.
				
