.product-quantity {
	.cart-plus-minus {
		display: flex;
		align-items: center;
		.qtybutton {
			width: 32px;
			height: 30px;
			cursor: pointer;
			background-color: #f2f2f2;
			border: 1px solid rgb(226, 226, 226);

			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			color: #333;

			-webkit-touch-callout: none; /* iOS Safari */
			-webkit-user-select: none;   /* Chrome/Safari/Opera */
			-khtml-user-select: none;    /* Konqueror */
			-moz-user-select: none;      /* Firefox */
			-ms-user-select: none;       /* Internet Explorer/Edge */
			user-select: none;

			display: flex;
			justify-content: center;
			align-items: center;
			&.dec {
				border-radius: 20px 0 0 20px;
			}
			&.inc {
				border-radius: 0px 20px 20px 0px;
			}
			&:focus {
				outline: none;
			}
		}
		.cart-plus-minus-box {
			width: 40px;
			height: 30px;
			padding: 0 2px;
			background-color: #fff;
			border: 0px;
			border-radius: 0px;
			text-align: center;
			font-size: 16px;
			line-height: 20px;
			color: #333;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
			&:focus {
				outline: none;
			}
		}
	}
	@media (max-width: 991px) {
		justify-content: center;
		margin-bottom: 15px;
	}
}

.cart-product {
	.price {
		.now {
			font-size: 18px;
			line-height: 24px;
		}
	}
	.title {
		display: block;
		color: #333;
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 20px;
		&:hover {
			color: #333;
			text-decoration: none;
		}
	}
}

.cart-product-remove {
	button[type="submit"] {
		padding: 0px;
		border: 0px;
		border-radius: 0px;
		background: none;

		font-size: 14px;
		line-height: 18px;
		color: #333;

		display: flex;
		align-items: center;
		span {
			font-size: 26px;
			line-height: 32px;
			transform: rotate(45deg);
		}
	}
}

.checkouts-left {
	background-color: #fff;
	border-right: 1px solid #e1e1e1;
	@media (max-width: 991px) {
		padding-right: 0px;
	}
}
.checkouts-wrapper {
	width: 100%;
	max-width: 590px;
	@media (max-width: 991px) {
		max-width: unset;
	}
}
.checkouts-right {
	padding-left: 20px;
	.checkouts-wrapper {
		width: 100%;
		max-width: 420px;
		@media (max-width: 991px) {
			max-width: unset;
		}
	}
	@media (max-width: 991px) {
		padding-left: 0px;
	}
}
.checkouts-product {
	.preview {
		border: 1px solid #e1e1e1;
		background: #fff;
		border-radius: 4px;
		position: relative;
		.preview-count-hid {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 20px;
			height: 20px;
			border-radius: 100%;

			margin: 0px;
			position: absolute;
			right: -10px;
			top: -10px;

			background: rgba(114,114,114,0.9);

			font-size: 12px;
			line-height: 14px;
			color: #fff;

		}
	}
	.title {
		margin: 0px;
		font-size: 16px;
		line-height: 20px;
		color: #333;
	}
}
