/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "template/bootstrap-select.min.css";
@import "template/all.min.css";
@import "template/animate.min.css";
@import "template/jquery.fancybox.min.css";
@import "template/owl.carousel.min.css";
@import "template/layerslider.css";
@import "template/template.css";
@import "template/style.css";
@import "template/category-one.css";

@import "library/slick/slick-theme.scss";
@import "library/slick/slick.scss";

@import "icon/style.css";
@import "variables/_variables";
@import "social/_social";
@import "default/_default";
@import "preloader/_preloader";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "product/_product";
@import "modalWindow/_modal";
@import "cart/_cart";
@import "breadcrumb/_breadcrumb";
@import "footer/_footer";





#slider-owl {
	.item {
		height: calc(100vh - 150px);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.owl-next,
	.owl-prev {
		opacity: 0px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -10px;
		transition: 0.5s;

		span {
			font-size: 60px!important;
			color: #fff!important;
			border: unset!important;
		}
	}
	.owl-next {
		left: unset;
		right: -10px;
	}
	&:hover {
		.owl-next,
		.owl-prev {
			opacity: 1;
			transition: 0.5s;
			left: 10px;
		}
		.owl-next {
			right: 10px;
			left: unset;
		}
	}
}

.full-block-item {
	.wrapper {
		padding: 0px 60px;
		@media (max-width: 1200px) {
			padding: 0px 25px;
		}
		@media (max-width: 991px) {
			padding: 20px;
		}
	}
	.title {
		display: block;
		font-size: 28px;
		line-height: 36px;
		color: #333;
		transition: 0.5s;
		text-transform: uppercase;
		&:hover {
			color: #4e4e4e;
			text-decoration: none;
			transition: 0.5s;
		}
	}
	.description {
		font-size: 18px;
		line-height: 24px;
		color: #333;
	}
}


.last-news {
	.preview {
		overflow: hidden;
		img {
			transition: 0.5s;
		}
	}
	&:hover {
		.preview {
			img {
				transform: scale(1.04);
				transition: 0.5s;
			}
		}
	}
	.title {
		display: block;
		font-size: 28px;
		line-height: 36px;
		color: #333;
		transition: 0.5s;
		margin-bottom: 10px;
		@media (max-width: 991px) {
			font-size: 18px;
			line-height: 24px;
		}
		&:hover {
			color: #4e4e4e;
			text-decoration: none;
			transition: 0.5s;
		}

	}
}

.contacts-email {
	font-size: 18px;
	line-height: 24px;
	color:#333;
}
.contacts-link {
	font-size: 18px;
	line-height: 24px;
	color:#333;
	&:hover {
		color:#333;
		text-decoration: none;
	}
}
