header.nav-on-top {
	.top-header {
		background-color: #e6e6e6;
		padding: 10px 0px;
	}
	.nav-item {
		line-height: unset!important;
	}
	.navbar {
		.navbar-nav li>ul.dropdown-menu {
			.dropdown-item {
				color: #fff;
				@media (max-width: 991px) {
					color: #181b1e;
				}
			}
			@media (max-width: 991px) {
				background: none;
				border: 0px;
			}
		}
		@media (max-width: 991px) {
			padding: 0px;
		}
	}
	&.fixed-top {
		position: fixed!important;
		.navbar {
			padding: 30px 0px;
			@media (max-width: 991px) {
				padding: 0px;
			}
		}
	}
	ul, ol{
		padding: 0px;
		li {
			list-style: none;
		}
	}
}
.bootstrap-select .dropdown-toggle::after {
	@media (max-width: 991px) {
		display: none;
	}
}
.navbar-toggler {
	width: 93px;
	&:focus {
		outline: none;
	}
}
.burger {
	display: block;
	width: 20px;
	height: 2px;
	background: #333;
	position: relative;
	&:before {
		position: absolute;
		content: "";
		width: 20px;
		height: 2px;
		left: 0px;
		top: -6px;
		background: #333;
	}
	&:after {
		position: absolute;
		content: "";
		width: 100%;
		height: 2px;
		left: 0px;
		bottom: -6px;
		background: #333;
	}
}
.log-user, .mini-cart {
	display: block;
	color: #000;
	opacity: 0.8;
	font-size: 20px;
	&:hover {
		color: #000;
		opacity: 1;
		text-decoration: none;
	}
}
.mini-cart {
	display: flex;
	align-items: center;
	background: none;
	border: 0px;
	position: relative;
	&::after {
		display: none;
	}
	.icon-cart {
		position: unset!important;
		background: none!important;
		color: #000!important;
		font-size: 18px!important;
	}
	.mini-cart__count {
		font-size: 16px;
		margin-left: 8px;
		color: #000;
	}


}
#cart-desktop, #cart-scroll {
	position: relative;
	.dropdown-menu-mini-cart {
		position: absolute;
		z-index: 2;
		top: 100%;
		right: 0px;
		display: none;
		background: #fff;
		transition: 1s;

		width: 500px;
	}
	.cart-plus-minus-box {
		border-top: 1px solid #f1f1f1;
		border-bottom: 1px solid #f1f1f1;
	}
	.btn {
		font-size: 16px;
		line-height: 20px;
		padding: 4px 8px;
	}
	.item-thumb {
	}
	.item-detail__delete {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 30px;
		span {
			display: block;
			font-size: 18px;
			color: #333;
			transform: rotate(-45deg);
		}
		&:hover {
			text-decoration: none;
			span {
				color: $colorMain;
			}
		}
	}
	.dropdown-menu-mini-cart {

	}
	&:hover {
		.dropdown-menu-mini-cart {
			display: block;
			opacity: 1;
			transition: 1s;
		}
	}
}

.shopping-cart-items {
	.shopping-cart-items-hid {
		max-height: 300px;
		overflow-y: scroll;
	}
	.item-thumb {
		width: 100px;
	}
	.item-detail {
		width: calc(100% - 130px);
		position: unset;
		padding-left: 8px;
		a {
			font-size: 14px;
			line-height: 18px;
			color: #000000;
		}
		.item-s {
			span {
				margin: 0px;
				padding: 0px;

				font-size: 14px;
				line-height: 18px;
				color: #000000;
			}

		}
	}
}
