.social-block {
	.social-block__item {
		color: #000;
		opacity: 0.8;
		font-size: 20px;
		margin-right: 10px;
		&:last-child {
			margin: 0px;
		}
		&:hover {
			opacity: 1;
			text-decoration: none;
		}
	}
}
