.product-single {
	.product_title {
		font-size: 34px;
		line-height: 42px;
		color: #333;
		margin-bottom: 30px;
	}

	.settings {
		tr {
			td {
				font-size: 18px;
				line-height: 24px;
				padding-bottom: 10px;
				&:first-child {
					font-weight: bold;
				}
				&:last-child {
					padding-left: 20px;
				}
			}
		}
	}
}
.price {
	padding: 20px 0px;
	.now {
		font-size: 24px;
		line-height: 28px;
		color: #333;
	}
	.old {
		font-size: 14px;
		line-height: 18px;
		text-decoration: line-through;
		color: #333;
		opacity: 0.7;
	}
}





.category-item {
	position: relative;
	.category-item-hid {
		position: absolute;
		z-index: 1;
		top: 0px;
		left: 0px;
		righT: 0px;
		bottom: 50%;
		opacity: 0;
		transition: 0.5s;
		background-color: rgba(241,241,241,0.7);

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.title {
			color:#333;
			font-size: 18px;
			line-height: 24px;
			padding-bottom: 10px;
			display: block;
		}
		@media (max-width: 991px) {
			position: unset;
			opacity: 1;
		}
	}
	&:hover {
		.category-item-hid {
			bottom: 0px;
			transition: 0.5s;
			opacity: 1;
		}
	}
}
